databricks==0.2
datacompy==0.11.3
matplotlib>=3.8.2
nltk==3.5
numpy>=1.26.4
openpyxl==3.1.5
pandas==2.0.3
pdblp==0.1.8
pulp==2.9.0
pyodbc>=4.0.39
rapidfuzz==3.9.7
sqlalchemy==2.0.41
xlrd==1.2.0
databricks-sql-connector